<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })   @*Normal it is not necessary to prefix the property name with a '@' character, but here the 'class' is a keywork in c#, so we need to prefix it with a '@' character.*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "about-the-atm", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial") @*To render a partial view here.*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*
            This is where the content of the View is injected.
        *@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <p>Serial: @Html.Action("Serial", "Home", new { letterCase = "lower" })</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*
        The RenderSection will look for the 'section scripts' in the View file.
        If the 'section scripts' exists, then it will be inserted here, otherwise,
        this RenderSection will be ignored(because the value of the 'required' parameter is false).
    *@
    @RenderSection("scripts", required: false)
</body>
</html>
